body{
    margin: 0; /* Body margin to zero to have a starting point */
    position: relative; /* Relative position will create a reference point for the elements that are inside the body.  */
    background-color: #aad4cf;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    position: relative;  /*Relative position will place all elements inside the container relative to the container itself. Helps make H1 relative to the header, giving a better reference point*/
}


.wrapper{
    width: 1020px;
    position: relative; /* Relative position will place all elements inside the container relative to the container itself*/
    margin: 0 auto; /* Center the container horizontally by setting equal margins on the left and right sides */
    background-color: #d4e9e7;
}


h1{
    font-size: 3.5rem;
    position: absolute;  /* allows H1 to be moved freely within the header */
    color: white;
    top: 195px; /* H1 is placed 195px / 52% down from the top of the container. */
    left: 510px; /* H1 is placed 510px / 50% to the left of its container. */
    transform: translate(-50%, -50%); /*H1 is centered vertically and horizontally within its container */
    z-index: 1; /* H1 will be above the image, inside the header */
}

.img-header{
    display: block; /* the image is treated as a block element, occupying its own line */
    width: 1020px; /*the width of the image is 10p20px / 100% of the header, which is its container*/
}

.nav-menu ul{
    padding-left: 0;
    margin-top: 3px; /* margin to separate the image from the navigation menu */
    margin-bottom: 45px; /* Add space below the ul element */
    text-align: center; /* ul item is centered with its container */
} 

.nav-menu ul li{
    list-style-type: none; /* remove bullets from the list */
    display: inline-block; /* the list elements will be displayed in a horizontal line within the ul element */
    width: 320px; /* width of each list element will be 320px or 32% of the width of its container. The space is distributed evenly.*/
    height: 27px; 
    border-right: 1px solid black; /*right border is added to create separation between elements*/
    font-size: 1.3rem;
    padding-top: 7px; /* Top padding in the navigation menu, creates space between the top border of the menu and the text, without affecting the start of the right border */
    
}

.nav-menu ul li:last-child{
    border-right: none; /* remove right border of last menu list item */
}

.nav-menu a{
    text-decoration: none; /*Removes underline from element a */
    color: black;
}

.content{
    margin: 10px; /* margin is set on all sides of the content */
}

h2{
    font-size: 1.7rem;
}

.img-content{
    width: 250px; 
    float: left; /* the image is aligned to the left side of the container, so that the text flows to the right side */
    margin-right: 20px; /* the right margin adds a better separation of the image from the text */
} 

.content-p{
    font-size: 17px;
    margin-right: 8px; /* the right margin adds a better separation of the text with the container */
}

/* For both h3 */
h3{
    font-size: 1.4rem;
}

.facts-list ul{
    padding: 0; /* default padding removed */
    margin-left: 15px; /* a left margin is set to the list from its container */
    margin-bottom: 40px; /* bottom margin is set to separate the list with the form */
}

.label-block{
    display: block; /*each label occupies its own line, which would give the entire width of the container */
}

.label-block:first-child{
    margin-top: 15px; /* creates a margin between the first label and the top of the form */
}

input, textarea{
    margin: 10px 0 10px 0; /* top and bottom margin for input elements and text area, separation of labels.*/
    width: 960px; /* width of input fields at 960px / 99%, they expand to fill the form container */
}

textarea{
    height: 100px; /*A fixed height of 100px is placed on the text area element.*/
}

.contact input{
    height: 20px;
}

.question-form{
    display: block; /* the label element will start on a new line, taking up the entire width of the container. If the text area is smaller, the label will not take up part of its space.*/
    font-size: 18px;
}

.inline{
    width: unset; /* The width of the element is reset and is determined by the width of its content, giving flexibility without having to specify a width */
    margin-top: 30px; /* Space is created above the radio buttons and the question label */
    margin-left: 10px;
    margin-right: 15px; /* right margin is added to separate each radio button with its respective label */
}

button{
    background-color: transparent;
    border: 1px solid black;
    padding: 10px; /* space between the button text and its border. */
    cursor: pointer; /* changes the cursor to a pointer, displaying an interactive button */
    font-size: 15px;
    font-weight: bold;
    margin: 15px 0 10px 0; /* margins between the top text and the bottom edge of the form */
}

footer{
    text-align: right; /* aligns the footer text to the right of the container */
    margin: 38px 26px 0 0; /* Top and Right margin to create a space between the form and the  footer content, and between the container and the footer content. */
    padding-bottom: 38px; /* Creates space between the footer content and the bottom edge of the container */

}


