/* Body margin to zero to have a starting point */
/* Relative position will create a reference point for the elements that are inside the body.  */
body{
    margin: 0;
    position: relative;
    background-color: #aad4cf;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

/* header{
    position: relative;
} */

/* A fixed width is set for the container, controlling the layout.
Relative position will place all elements inside the container relative to the container itself.
Center the container horizontally by setting equal margins on the left and right sides.
 */
.wrapper{
    width: 1020px;
    position: relative;
    margin: 0 auto;
    background-color: #d4e9e7;
}

/* Position absolute, in h1 allows the element to be moved freely within the header */
h1{
    font-size: 3.5rem;
    position: absolute;
    color: white;
    top: 18%; 
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}

.img-header{
    display: block;
    width: 100%;
    height: auto;
}

.nav-menu ul{
    margin-bottom: 40px;
} 

.nav-menu ul li{
    list-style-type: none;
    display: inline-block;
    width: 32.5%;
    text-align: center;
    border-right: 1px solid black;
}

.nav-menu ul li:last-child{
    border-right: none;
}

.nav-menu a{
    text-decoration: none;
    color: black;
}

.content{
    margin: 10px;
}

h2{
    font-size: 1.7rem;
}

.img-content{
    width: 250px;
    float: left;
    margin-right: 20px;
} 

.content-p{
    font-size: 17px;
    margin-right: 8px;
}
/* For both h3 */
h3{
    font-size: 1.4rem;
}

.facts-list ul{
    padding-left: 15px;
    margin-bottom: 35px;
}

.label-block{
    display: block;
}

















