/* Apply a box model to all elements. Border and padding are included in the total width and height. */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Global font styling for the website */
body{
    font-family: "Open Sans", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

/* <------------- HEADER - LOGO -------------> */
/* Maximum width for .wrapper-general class elements. Never exceed 100% of the parent element's width */
.wrapper-general{
    width: 100%;
    /* max-width: 1200px;
    margin: 0 auto; */
}

.bleed-wrapper-menu{
    background-color: #222; /* Adds background color to the menu section (logo, nav, search bar) */
}

.wrapper-container{
    padding: 15px; /* Consistent space between the container's border and its content. Applying for each section */
}

.wrapper-logo{
    background-color: #c78b07; /* Sets background color for the logo wrapper */
}

.wrapper-logo img{
    margin-top: 15px; /*Adds top margin, creating space above the logo, inside its wrapper*/
}


/* <------------- HEADER - MENU -------------> */
.menu-list{
    list-style: none; /*Removes default list item markers*/
}

.menu-list li{
    width: 100%; /*Width of each list item to 100%.*/
    display: flex; /*Display flex applies a flexbox layout to the list items, it enables the alignment and distribution of the anchor tags.*/
    justify-content: center; /*Justify content align the anchor tags in the center of the list items.*/
}

.menu-list a{
    width: 20%; /* The width of each anchor tag is 20% */
    padding: 25px 0 15px 0; /* Adding padding to the anchor tags, top and bottom. */
    display: flex; /* Display flex applies a flexbox layout to the anchor tags. */
    justify-content: center;/* he justify content centers horizontally the text of the anchor tags. */
    text-decoration: none; /*Removes default inderlining of anchor tags*/
    color: #c78b07;
    font-size: 1.2rem;
    font-weight: 400; 
}

.menu-list .menu-home{
    width: 100%; /*Width of the .menu-home 100%. The Home link stretches across the entire width of its containing list item*/
    color: #222;
    background-color: #c78b07;
}

/* <------------- SEARCH BAR -------------> */

.search-bar form{
    display: flex; /*Input and button will be laid out in a linear, flexible manner*/
    margin-top: 10px; /*Spacing useful for separating the search bar form from the menu */
}

.search-bar input{
    width: 100%; /*Width of the input field will stretch to fill the entire width of the .search-bar container. Input will be responsive*/
    font-size: 1.2rem; /*Font size inside the input field*/
}

.search-bar button{
    border: 1.5px solid #c78b07; /*Border to the button*/
    color: #c78b07; 
    font-size: 1.5rem;
    background: none; /*The button has no background color*/
    padding: 7px 10px; /*Padding inside the button*/
}
 
/* <------------- BANNER -------------> */

.bleed-wrapper-welcome{
    width: 100%; 
    /* display: flex; */
    background-image: url(../images/main-banner.jpg); /*Sets a background image for the banner*/
    background-size: cover; /*Background image cover the entire element*/
    background-repeat: no-repeat; /*Ensures that the background image doesnt repeat*/
    padding: 70px 0; /*Paddint to the inside of the element. Top and bottom*/
    background-position: 40% 90%;
}

.wrapper-welcome-content{
    /*display: flex; /*Arrange text and button inside the container
    justify-content: center;*/
    background-color: rgba(0, 0, 0, 0.6); /*Represents a semi-transparent black color, with 60% opacity*/
    color: white; 
    /* padding: 15px; */
}

.wrapper-welcome-content h1{
    font-size: 5rem;
    font-weight: 700;
    line-height: 6.7rem; /*Provide space between lines of the text in the h1*/
} 

.wrapper-welcome-content p{
    font-weight: 350; /*Sets the weight of the font*/
    padding: 30px 0 20px 0; /*Padding to the paragraph, top and bottom*/
  }

.button{
    background-color: #c78b07; /*Background color of the button*/
    width: 240px; /*Fixed width, always be 240px*/
    padding: 30px 0 35px 0; /*Padding inside the button, just top and bottom*/
}

.button a{
    color: #222; /*Sets text color of the anchor tags*/
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none; /*Removes default text decorations from anchor tag*/
    display: flex; /*Flexbox layout to the anchor tag. Align and center content*/
    justify-content: center; /*Aligns anchor tag in the center of the container (button)*/
    align-items: baseline; /*Align flex items along the baseline of the container. Helps to align the arrow with the text */
}

.button i{
    margin-left: 15px; /*Gap between the icon and the anchor text*/
    font-size: 1.6rem; 
}

/* <------------- ABOUT US -------------> */

.bleed-wrapper-about{
    background-color: #ffe6ac; /*Background color for the section about us*/
}

.image-about img{
    width: 100%; /*The image will adjust the size of the container*/
}

h2{ /*For all h2*/
    font-size: 2.5rem; /*Set the size of the font for h2 headings*/
    font-weight: 700;
}

.text-about h2{ /*Div that contains the text content*/
    margin: 25px 0; /*Top and bottom margin*/
}

.common-text{ /*Paragraphs inside about us*/
    font-size: .9rem;
    font-weight: 370;
}

.text-about p{ /*Div that contains the text content*/
    margin: 15px 0; /*Sets the margin around each p, top and bottom margin*/
    line-height: 1.2rem;
}

/* <------------- SERVICES -------------> */

.image-services img{
    width: 100%; /*Sets the width of all images (services) to 100% of their container width. Image fully responsive*/
}

.wrapper-services{
    background-color: white;
}

.wrapper-services h2{
    margin: 30px 0 20px 0; /*Applies top and botton margin for the h2*/
}

.wrapper-service{
    background-color: #ffe6ac; /*Add background color for the text container*/
    margin-bottom: 15px; /*Helps to separate each service (div)*/
}

.services-content-text{
    padding: 15px; /*Adds a space on all four sides inside the element*/
}

.wrapper-service h3{ /*Style for all the h3 heading in the service section*/
    font-size: 1.7rem;
    font-weight: 680;
    margin: 10px 0;
}

.wrapper-service p{ /*Style for all the paragraphs in the service section*/
    font-size: .8rem;
    line-height: 1.2rem;
    font-weight: 400;
    margin: 10px 0;
  }

.button-services{ /*Style for all the anchor buttons in the service section*/
    background-color: #222;
    padding: 30px 0 35px 0;
    margin-top: 15px;
}

/* The anchor buttons have different widths, so add different class for each one of them */

.button-services-digital{
    width: 210px;
}

.button-services-marketing{
    width: 240px;
}
  
.button-services-video{
    width: 202px;
}
  
.button-services-web{
    width: 192px;
}
  
.button-services-print{
    width: 195px;
}

.button-services a{ /*Applies style for the anchor text*/
    color: white;
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    display: flex; /*Helps center the content inside the div (button)*/
    justify-content: center;
    align-items: baseline; /*Aligns flex items along the baseline of the container. Aligns the anchor text with the arrow*/
  }

.button-services i{ /*Style for the i element*/
  margin-left: 15px; 
  font-size: 1.6rem;
}

/* <------------- VISION -------------> */

.bleed-wrapper-vision{
    width: 100%;
    background-image: url(../images/vision.jpg); /*Applies background image*/
    background-size: cover; /*Background image covers the entire area of the wrapper*/
    background-repeat: no-repeat;
    padding: 35px 0 5px 0; /*Padding inside the element, top and bottom*/
    background-position: 60% 40%; /*Positions the background image within the element. 60% is the horizontal position, 40% the vertical position*/
}

h3{ /*This applies for all the h3 elements*/
    font-size: 1.9rem;
    font-weight: 700;
}

.wrapper-vision h3{
    color: white;
}

.wrapper-vision p{ /*Style for the paragraph*/
    margin: 30px 0 25px 0;
    font-weight: 400;
    line-height: 1.5rem;
    color: white;
}

.button-vision{ /*Style for the anchor button*/
    width: 230px; /*Sets the width of the button*/
    background-color: rgba(0, 0, 0, 0.6); /*Background color to a semi-transparent black*/
    padding: 35px 0 40px 0; /*Padding inside the button top and bottom*/
    border: 1px solid #c78b07;
}

.button-vision a{ /*Style for the anchor text*/
    color: white;
    font-size: 1.3rem;
    font-weight: 400;
    text-decoration: none;
    display: flex; /*Helps to align and distribute space inside the button, easy to center content*/
    justify-content: center; /*Aligns the text and icon to the center*/
    align-items: baseline; /*Aligns the anchor text along the baseline of the container. Text and arrow on the same line*/
}

.button-vision i{ /*Style for the icon*/
    margin-left: 15px;
    font-size: 1.6rem;
}

/* <------------- TEAM -------------> */

.wrapper-team h2{
    margin: 35px 0 25px 0; /*Margin top and bottom for h2*/
}

.wrapper-team-person{ /*Adding backgroun color to my wrapper*/
    background-color: #ffe6ac;
}

.wrapper-team-john{ /*Adding space between the containers of each person*/
    margin-bottom: 15px;
}

.team-image img{ /*Sets width of images to 100% of ther container's width*/
    width: 100%;
}

.team-content{
    padding: 20px 15px 30px 15px; /*Padding inside the container of each person*/
}

.team-content h4{ /*Add space between headings and paragraphs*/
    margin-top: 13px;
    font-weight: 670;
    padding-bottom: 5px;
    border-bottom: 2px solid #c78b07;
    margin-bottom: 15px;
}

.team-content p{ /*Style for the paragraphs*/
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4rem;
}

/* <------------- CONTACT - FORM -------------> */

.wrapper-contact{ /*Adding more space between the team section and the form */
    margin-top: 60px;
}

.contact-form h3{ /*Adding space top and bottom*/
    margin: 30px 0 20px 0;
}

.contact-form label{
    font-weight: 400;
    font-size: .95rem;
    margin: 11px 0 7px 0;
    display: flex; /*Align labels with the form*/
}

.contact-form input{ /*Style for the inputs. */
    width: 100%; /*Input fields stretch to fill the fill width of the form*/
    border: 1px solid #222;
    padding: 10px 5px; /*Padding inside the input fields*/
}

.contact-form textarea{ 
    width: 100%;
    height: 150px; /*Fixed height, providing enough space*/
}

.button-form{ /*Style for the button*/
    margin: 25px 0 10px 0; /*Margin around the button, top and bottom*/
    background-color: #222;
    color: #c78b07;
    font-size: 1.5rem;
    border: 0px;
    padding: 6px; /*space between the text inside the button and its border*/
}

/* <------------- CONTACT - HOURS -------------> */

.table-hours{ /*Space between the table-hours div and the location div*/
    margin-bottom: 25px;
}

.table-hours h3{ /*Space between the heading and the table*/
    margin: 25px 0 15px 0;
}

.hours-operation{
    width: 100%; /*Table stretches across the full width*/
    border: 1px solid black; /*Applies a solid border around the table*/
    font-size: .9rem;
    font-weight: 400;
}

.hours-operation td{
    border: 1px solid black; /*Solid border to each tx element*/
    padding: 17px; /*Padding inside each td*/
}

.table-header{ /*Add color to the header*/
    background-color: #ffe6ac;
}

.table-header th{
    padding: 15px 0; /*Sets the padding inside each th element*/
    border: 1px solid black; /*Border around each table header cell*/
}

/* <------------- CONTACT - LOCATION -------------> */

.location-map h3{ /*Space between the h3 heading and the map*/
    margin-bottom: 12px;
}

.location-map iframe{ 
    width: 100%; /*The map stretches to fill the width of the map container*/
    height: 450px; /*Fized height for the iframe*/
}

/* <------------- FOOTER -------------> */

footer{ /*Sets the background color of the footer*/
    background-color: #222;
}

.content-footer{
    padding: 17px 0 8px 0; /*Padding inside the footer container, space between the text and the border*/
}

.content-footer p{ /*Style for p*/
    color: #c78b07;
    font-weight: 500;
}

.content-footer > p:nth-child(1){ 
    margin-bottom: 18px; /*Adding space between the two p*/
}


@media screen and (min-width: 760px) {
    .wrapper-general{
      max-width: 1200px; /*Sets maximum width to 1200*/
      margin: auto; /*Centers the wrapper element */
    }

    .wrapper-container-desktop{
        margin: 0 80px; /*Sets margin left and rigt to 80px. Centers the content*/
    }

    /* <------------- HEADER - LOGO, MENU, SEARCH -------------> */

    .wrapper-logo-menu-search{
        display: flex; /*Flexible box to the container, making logo, menu, search bar flexible items*/
        align-items: center; /*Centers the items vertically*/
        justify-content: space-between; /*Distributes the items evenly, space between each item, align first item to the start and the last item to the end*/
        padding: 20px 0; /*Paddin top and bottom*/
    }

    .wrapper-logo img{
        margin-top: 0; /*Removes top margin*/
    }

    /* .nav-menu{
        flex-grow: 1;
        display: flex;
        justify-content: center;
    } */

    .menu-list{
        display: flex; /*Flexible box layout, list items horizontal*/
        margin-left: 30px; /*Left margin to the list*/
    }

    .menu-list li{
        /* display: flex;
        justify-content: center; */
        white-space: nowrap;
        margin: 0 10px;
    }

    .menu-list a{
        width: 100%; /*Width of each anchor tag to 100%*/
        padding: 22px 26px; /*Padding inside the anchor tags*/
    }

     /* <------------- ABOUT US -------------> */

    .wrapper-about{
        display: grid; /*Grid layout for the contents inside this wrapper*/
        grid-template-columns: 1fr 1fr; /*Divide the container into 2 columns*/
        /* grid-template-rows: 1fr; */
        gap: 15px; /*Space between grid items*/
    }

    .text-about h2{
        margin-top: 10px; /*margin 10px on all sides of h2 about section*/
    }

    /* <------------- SERVICES -------------> */

    .wrapper-services{
        display: grid; /*grid layout for elements inside the wrapper*/
        grid-template-columns: repeat(6,1fr); /*creates six columns of equal width in the grid*/
        grid-template-rows: auto auto auto; /*creates 3 rows, each height adjusting automatically based on content size*/
        grid-gap: 10px; /*Gap between grid cells*/
        grid-template-areas: 
        "b1 b1 b1 b1 b1 b1" /*First row spans, all 6 columns for heading*/
        "b2 b2 b2 b3 b3 b3" /*Second row is divided in 2 areas*/
        "b4 b4 b5 b5 b6 b6"; /*Third row is divided in 3 areas*/
    }

    .wrapper-services h2{
        grid-area: b1; /*Position the h2 heading in the grid area named b1. First row, 6 columns*/
    }

    .wrapper-service-digital{
        grid-area: b2; /*Digital service block to the grid area b2, spans the first 3 columns of second row*/
    }

    .wrapper-service-marketing{
        grid-area: b3; /*Marketing service block to the grid area b3, spans the last 3 columns of second row*/
    }

    .wrapper-service-video{
        grid-area: b4; /*Video service block to the grid area b4, spans the first two columns of third row*/
    }

    .wrapper-service-web{
        grid-area: b5; /*Web service block to the frid area b5, spans the second two columns of thir row*/
    }

    .wrapper-service-print{
        grid-area: b6; /*Print service block to the grid area b6, spans the third two columns of third row*/
    }

    .wrapper-service{
        margin-bottom: 0; /*Removes any bottom margin*/
    }

    .button-services{
        width: 100%; /*sets the width to 100%. Button stretches to fill the available space*/
    }


    /* <------------- VISION -------------> */

    .wrapper-vision{
        padding-top: 0; 
    }

    .bleed-wrapper-vision{
        background-position: 45% 55%; /*Positions the background image within the element. 45% is the horizontal position, 55% the vertical position*/
    }
    
    /* <------------- TEAM -------------> */

    .wrapper-team{
        display: grid;
        grid-template-columns: 1fr 1fr; /*Divides grid into 2 columns, both columns equally wide*/
        grid-template-rows: auto auto auto; /*Define 3 rows in the grid, height determined by the content*/
        grid-template-areas: 
        "t1 t1"
        "t2 t2"
        "t3 t3";
    }

    .wrapper-team h2{
        grid-area: t1; /*Position the h2 heading in the grid area named t1. First row, 2 columns*/
    }

    .wrapper-team-john{
        grid-area: t2; /*Position the wrapper team john in the grid area named t2. Second row, 2 columns*/
    }

    .wrapper-team-bob{
        grid-area: t3; /*Position the wrapper team bob in the grid area named t3. Thir row, 2 columns*/
    }

    .wrapper-team-john{
        display: grid;
        grid-template-columns: 1fr 1fr; /*Divides the container into 2 columns of equal width*/
        grid-template-rows: auto; /*Sets rows to automatically adjust to the content's height*/
        grid-template-areas: /*Defines the template areas,m area t1 and t2*/
        "t1 t2";
        margin: 0; /*Removes default margin*/
    }

    .team-image-john{
        grid-area: t1; /*Image of John in the first grid area (first column)*/
    }

    .team-content-john{
        grid-area: t2; /*Content about John in second grid area (second column)*/
    }

    .wrapper-team-bob{
        display: grid;
        grid-template-columns: 1fr 1fr; /*Divides the container into 2 columns of equal width*/
        grid-template-rows: auto; /*Sets rows to automatically adjust to the content's height*/
        grid-template-areas: /*Defines template areas, area t1 and t2*/
        "t1 t2";
        margin: 0; /*Removes default margin*/
    }

    .team-content-bob{
        grid-area: t1; /*Content about Bob is second grid area (second column)*/
    }

    .team-image-bob{
        grid-area: t2; /*Image of Bob in the first grid area (first column*/
    }

    /* <------------- CONTACT - FORM -------------> */

    .wrapper-contact{
        display: grid;
        grid-template-columns: 1fr 1fr; /*Divides the container into 2 column of equal width*/
        grid-template-rows: auto; /*Each row height adjusts based on content*/
        grid-gap: 10px; /*Gap 10px between the rows and columns*/
        grid-template-areas: /*Defines template areas, area t1, t2, t3, t4*/
        "t1 t1"
        "t2 t4"
        "t3 t3";
    }

    .wrapper-contact h2{
        grid-area: t1; /*h2 element to the first grid area, span across the entire width*/
    }

    .contact-form{
        grid-area: t2; /*Contact form in second grid area, first column second row*/
    }

    .table-hours{
        grid-area: t3; /*Table in third row, both columns*/
    }

    .location-map{
        grid-area: t4; /*map in second column, second row*/
    }

    .location-map h3{
        margin-top: 30px;
    }

  }  